.galleryListBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    height: 200px;
    width: 200px;
    /* padding-right: 35px; */
    /* margin-left: 25px; */
    border: 1px solid black;
}

.toggledPic {
    height: 200px;
    width: 200px;
    /* padding-right: 35px; */
    margin-left: 25px;
    border: 1px solid black;
}

.galleryItemBox {
    height: 350px;
    width: 250px;
}